body {
    color: #6b7770;
    font-size: 16px;
    margin: 0px auto 0px auto;
    max-width: 600px;
}

div#menu-trigger-container {
    height: 28px;
    display: none;
}
@media (max-width: 600px) {
    header nav {
	display: none;
	margin-top: 12px;
    }
    div#menu-trigger-container {
	display: inherit;
    }
}
.menu-trigger,
.menu-trigger span {
    transition: all .4s;
    box-sizing: border-box;
}
.menu-trigger {
    position: absolute;
    right: 10px;
    width: 34px;
    height: 24px;
}
.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #6b7770;
    border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) { top: 0;    }
.menu-trigger span:nth-of-type(2) { top: 50%;  }
.menu-trigger span:nth-of-type(3) { bottom: 0; }
.menu-trigger span:nth-of-type(2) {
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.menu-trigger.active span:nth-of-type(1) {
    transform: translateY(11px) rotate(-315deg) scale(.8);
}
.menu-trigger.active span:nth-of-type(2) {
    width: 35px;
    height: 35px;
    background-color: transparent;
    border: 2px solid #6b7770;
    border-radius: 50%;
}
.menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-11px) rotate(315deg) scale(.8);
}

header {
    border-bottom: 2px solid #e7eae8;
    margin-bottom: 30px;
    padding: 12px 10px;
}

div#logo a {
    color: #6b7770;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

header nav {
    text-align: right;
}

header nav a {
    color: #6b7770;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    border-top: solid 2px #e7eae8;
    color: #ddd;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

footer a {
    color: #ccc;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

#content {
    margin: 0 6px;
}
#content a{
    color: #59cc49;
    text-decoration: none;
}
#content a:visited{
    color: #59cc49;
    text-decoration: none;
}
#content a:hover{
    color: #f09;
}

div.info {
    color: #aaa;
    font-size: 14px;
    font-style: italic;
}
code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px;
    color: #C25;
    padding: 1px 3px;
    line-height: 1.5em;
}

pre code {
    line-height: 1.0em;
}

span.math.display {
    display: block;
    margin: 1em 0;
    text-align: center;
}
